body {
	padding: 10px;
	margin: 0 auto;
	
	font-family: BebasRegular, Helvetica, Arial, sans-serif;
}

form {
	display: table;
	width: 100%;
}

form .question {
	display: table-cell;
	vertical-align: middle;
	margin-right: 20px;
	margin-bottom: 20px;
}

form button {
	float: right;
}

form:after {
	clear: both;
	content: ' ';
	display: block;
	height: 1px;
}